@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root,
:root.light {
    --background: #EEF2FF;
    --foreground: #1E1B4B;

    --card: #FFFFFF;
    --card-hover: #E0E7FF;

    --primary: #4F46E5;
    --primary-dark: #3730A3;

    --accent: #0891B2;
    --accent-dark: #0E7490;

    --muted: #4338CA;
    --border: #C7D2FE;
}

:root.dark {
  --background: #131332;
  --foreground: #dbd6ff;

  --card: #1E1B4B;
  --card-hover: #312E81;

  --primary: #818CF8;
  --primary-dark: #6366F1;

  --accent: #81aff8;
  --accent-dark: #81a9f8;

  --muted: #C7D2FE;
  --border: #4338CA;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Minecraft";
  src: url("/fonts/Minecraft.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-hover: var(--card-hover);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-accent: var(--accent);
  --color-accent-dark: var(--accent-dark);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Minecraft", monospace;
  letter-spacing: 0.04em;
  font-size: .95em;
  word-spacing: .3em;
  line-height: 1.5;
}
