@import "tailwindcss";

:root {
    --background: #F8FAFC;
    --foreground: #111827;

    --card: #FFFFFF;
    --card-hover: #F1F5F9;

    --primary: #2563EB;
    --primary-dark: #1D4ED8;

    --accent: #9333EA;
    --accent-dark: #7E22CE;

    --muted: #64748B;
    --border: #CBD5E1;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Minecraft";
  src: url("/fonts/Minecraft.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-hover: var(--card-hover);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-accent: var(--accent);
  --color-accent-dark: var(--accent-dark);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0B1020;
    --foreground: #EDE9FE;

    --card: #111827;
    --card-hover: #1F2937;

    --primary: #60A5FA;
    --primary-dark: #2563EB;

    --accent: #C084FC;
    --accent-dark: #7E22CE;

    --muted: #9CA3AF;
    --border: #374151;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Minecraft", monospace;
  letter-spacing: 0.04em;
  font-size: .95em;
  word-spacing: .3em;
  line-height: 1.5;
}
